<div class="c-modal js-tool-modal" aria-label="{{ name }}">
  <header class="c-modal__header">
    <div class="o-wrapper">
      <div class="o-layout o-layout--middle">
        <div class="o-layout__item o-layout__item--6/12@large">
          <p class="c-modal__header__title">{{ name }}</p>
          <div class="c-summary-block">
            <div class="c-summary-block__item">
              <img class="c-summary-block__icon" src="/images/icon-moon.svg" alt="Current Phase Icon">
              <div class="c-summary-block__content">
                <p class="c-summary-block__title">{{ category }}</p>
                <p class="c-summary-block__description">Current Phase</p>
              </div>
            </div>
            <div class="c-summary-block__item">
              <img class="c-summary-block__icon" src="/images/icon-clock.svg" alt="Activity Length Icon">
              <div class="c-summary-block__content">
                <p class="c-summary-block__title">{{ length }}</p>
                <p class="c-summary-block__description">Activity Length</p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-layout__item o-layout__item--6/12@large">
          <div class="c-modal__header__description">{{{ description.html }}}</div>
        </div>
      </div>
    </div>
    <div class="c-modal__header__img">
      {{> map-vector}}
    </div>
  </header>
  <div class="c-modal__content">
    <div class="o-wrapper o-wrapper--large">

      <div class="o-layout o-layout--center">
        <div class="o-layout__item">
          <div class="c-modal__intro c-lede c-lede--center">{{{ question.html }}}</div>
        </div>
      </div>

      <div class="o-layout">
        <div class="o-layout__item o-layout__item--4/12@large">
          <strong>Why It's Helpful</strong>
        </div>
        <div class="o-layout__item o-layout__item--8/12@large">
          {{{ why.html }}}
        </div>
      </div>

      {{#ifnoteq category 'Project Planning'}}

        <div class="o-layout">
          <div class="o-layout__item o-layout__item--4/12@large">
            <strong>Suggested Materials</strong>
          </div>
          <div class="o-layout__item o-layout__item--8/12@large">
            {{{ materials.html }}}
          </div>
        </div>

      {{else}}

        <div class="o-layout">
          <div class="o-layout__item o-layout__item--4/12@large">
            <strong>Sample Use Case</strong>
          </div>
          <div class="o-layout__item o-layout__item--8/12@large">
            {{{ sampleUseCase.html }}}
          </div>
        </div>


      {{/ifnoteq}}

      <div class="o-layout">
        <div class="o-layout__item o-layout__item--4/12@large">
          <strong>Activity</strong>
        </div>
        <div class="o-layout__item o-layout__item--8/12@large">
          <ol>
           {{{ steps.html }}}
          </ol>
        </div>
      </div>

      <div class="o-layout">
        <div class="o-layout__item o-layout__item--4/12@large">
          <strong>Resources</strong>
        </div>
        <div class="o-layout__item o-layout__item--8/12@large">
          <ol>
           {{{ steps.html }}}
          </ol>
        </div>
      </div>

    </div>
  </div>
  <div class="c-modal__top-actions c-modal__top-actions--left">
    <button class="c-icon-button c-icon-button--primary js-tool-modal-close">
      <img src="/images/icon-close-white.svg" alt="Icon" class="c-icon-button__icon">
      <span class="c-icon-button__text">Close</span>
    </button>
  </div>
  <div class="c-modal__top-actions c-modal__top-actions--right">
    <button class="c-icon-button c-icon-button--primary u-marg-right-small js-tool-share">
      <img src="/images/icon-share-white.svg" alt="Icon" class="c-icon-button__icon">
      <span class="c-icon-button__text">Share</span>
    </button>

    <button class="c-icon-button c-icon-button--primary js-tool-print">
      <img src="/images/icon-print-white.svg" alt="Icon" class="c-icon-button__icon">
      <span class="c-icon-button__text">Print</span>
    </button>
  </div>
</div>
