{{!-- Set up both component and js-binding classes for each variant --}}
{{#if reverse}}
<div class="c-card c-card--full c-card--reverse">
{{else}}
<div class="c-card c-card--full">
{{/if}}

  <div class="c-card__cover">
    {{> map-vector}}
  </div>

  <div class="c-card__inner">

    {{!-- Only display an icon if we actually have specified one --}}
    {{#if icon}}
      <div class="c-card__icon c-icon">
        {{!-- <img src="{{ icon }}" alt="{{ title }}" class="c-icon__img"> --}}
      </div>
    {{/if}}

    <div class="c-card__content">

      {{!-- If there's a specified title --}}
      {{#if title}}
        <p class="c-card__title js-tool-card-title">{{ title }}</p>
      {{/if}}

      {{!-- If there's text specified --}}
      {{#if text}}
        <div class="c-card__text">{{{ text.html }}}</div>
      {{/if}}

      {{!-- If there are links specified --}}
      {{#if link-anchor}}
        <div class="c-card__links">
          <a class="c-card__link" href="{{link-url}}">{{link-anchor}} ></a>
        </div>
      {{/if}}

      {{!-- If there's helper text specified --}}
      {{#if example}}
        <div class="c-card__helper">{{{ example.html }}}</div>
      {{/if}}
    </div>

    {{#if actionable}}
    {{!-- Card actions (buttons, etc) --}}
    <div class="c-card__actions">
      <button class="c-btn c-btn--secondary">No</button>
      <button class="c-btn c-btn--primary">Yes</button>
    </div>
    {{/if}}
  </div>
</div>
