{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<article id="about-page" class="c-article t-light-blue">

  {{> nav contrast="true"}}

  <div class="c-article__header c-article__header--bg-repeater" style="background:url({{cloudinaryUrl backgroundImage width=auto crop='scale' g='center' quality=100}}) center no-repeat;">
    <h1 class="c-article__title">{{pageTitle}}</h1>
  </div>

  {{!-- need style --}}
  <div class="c-article__main">
    <div class="c-article__content">
        <p class="c-article__intro">{{pageHeader}}</p>
    </div>
  
    <div class="c-article__content c-article__content--full">
 		<div class="s-gallery">

	    {{!-- HEADER IMAGES --}}
	    {{#each headerImages}}

	    	<img src="{{cloudinaryUrl this width=auto}}" />

	    {{/each}}

		</div>
	</div>

    <div class="c-article__content  c-article__content--medium">
        <p class="c-article__intro">{{{description.html}}}</p>
    </div>
    <div class="c-article__content c-article__content--full">
      <div class="s-gallery">

		    {{!-- IMAGES --}}
		    {{#each images}}

		    	<img src="{{cloudinaryUrl this width=auto}}">

		    {{/each}}

      </div>
    </div>
    {{!-- PROGRAM GOALS --}}
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-zeta u-text-uppercase u-text-bold u-text-sans">Program Goals</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					<p>{{{programGoals.html}}}</p>
				</div>
			</div>
		</div>

    {{!-- READ MORE --}}
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-zeta u-text-uppercase u-text-bold u-text-sans">More About The Cohort</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					<p>{{{cohort.html}}}</p>
				</div>
			</div>

    {{!-- PUBLIC ENGAGEMENT ARTICLES --}}
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-zeta u-text-uppercase u-text-bold u-text-sans">Public Engagement Today</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					<p>{{{public.html}}}</p>
				</div>
			</div>
		</div>

    {{!-- PARTNERS --}}
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-zeta u-text-uppercase u-text-bold u-text-sans">Partners</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
			    {{#each partners}}

			    	{{{description.html}}}

			    {{/each}}
				</div>
			</div>
		</div>
  </div>

</article>

{{> footer}}
