{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">

	<div class="builder-card">
		{{{introcardOne.html}}}

	</div>
	<div class="builder-card">
		{{{introcardTwo.html}}}

	</div>

	<div class="" id="getting-started">
		<div class="builder-card">
			{{{startCard.html}}}

		</div>

		<section>
			{{#each activities}}
				{{#ifeq this.category 'start'}}
					{{> activityQuestion this}}
				{{/ifeq}}
			{{/each}}
		</section>

	</div>

	<div class="" id="project-planning">
		<div class="builder-card">
			{{{planCard.html}}}

		</div>

		<section>
			{{#each activities}}
				{{#ifeq this.category 'plan'}}
					{{> activityQuestion this}}
				{{/ifeq}}
			{{/each}}
		</section>

	</div>

	<div class="" id="implimentation">
		<div class="builder-card">
			{{{implimentCard.html}}}

		</div>

		<section>
			{{#each activities}}
				{{#ifeq this.category 'impliment'}}
					{{> activityQuestion this}}
				{{/ifeq}}
			{{/each}}
		</section>

	</div>

	<div class="" id="iteration">
		<div class="builder-card">
			{{{iterateCard.html}}}

		</div>

		<section>
			{{#each activities}}
				{{#ifeq this.category 'iterate'}}
					{{> activityQuestion this}}
				{{/ifeq}}
			{{/each}}
		</section>

	</div>


</div>