{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

<article class="c-article t-purple">
	{{> nav contrast="true"}}

	<div class="c-article__header u-text-left c-box c-box--repeater">
		<div class="o-wrapper u-pad-top-large u-pad-bottom-large">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--6/12@large">
					<h1 class="u-text-serif u-text-beta u-color-primary u-marg-bottom-none">{{title}}</h1>
					<p class="u-text-epsilon">{{{byline}}}</p>
					{{#each caseStudy.modalities}}
						<p class="u-marg-bottom-tiny u-text-bold">{{this.name}}</p>
					{{/each}}
					<p class="u-color-primary u-text-uppercase u-text-eta u-text-bold">Modalities Explored</p>
				</div>
				<div class="o-layout__item o-layout__item--6/12@large">
					<h3 class="u-text-eta u-color-primary u-text-uppercase u-marg-bottom-none">Phase I Implementation</h3>
					{{{phaseI}}}
					<h3 class="u-text-eta u-color-primary u-text-uppercase u-marg-bottom-none">Phase II Implementation</h3>
					{{{phaseII}}}
				</div>
			</div>
		</div>
	</div>
	<div class="c-article__main">
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-eta u-text-uppercase">Fund Allocation</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					<p>{{{funds}}}</p>
				</div>
			</div>
		</div>
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-eta u-text-uppercase">Engagement Process</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					{{{text}}}
				</div>
			</div>
		</div>
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-eta u-text-uppercase">Read more</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					{{!-- <a class="u-text-serif" href="#"><h3>Link</h3></a> --}}
					{{{readMore}}}
				</div>
			</div>
		</div>
		<div class="c-article__content c-article__content--medium">
			<div class="o-layout">
				<div class="o-layout__item o-layout__item--3/12@medium">
					<h2 class="u-text-eta u-text-uppercase">Team members</h2>
				</div>
				<div class="o-layout__item o-layout__item--9/12@medium">
					{{{team}}}
				</div>
			</div>
		</div>
	</div>
</article>

{{!--
<div class="container-fluid" style="background-image:{{{cloudinaryUrl backgroundImage width=150 height=150 crop='scale' quality=100}}}">

	<div class="row">
	{{title}}
	{{{byline}}}

	</div>

	<div class="row">
	{{#each caseStudy.modalities}}
		{{> modality this}}

	{{/each}}
	</div>

	<div class="row">
	{{{phaseI}}}
	</div>

	<div class="row">
	{{{phaseII}}}
	</div>

	<div class="row">
	{{{funds}}}
	</div>

	<div class="row">
	{{{text}}}
	</div>

	<div class="row">
	{{{team}}}
	</div>

	<div class="row">
	{{#each logos}}
		{{> image this}}
	{{/each}}
	</div>

</div> <!-- .container-fluid -->
--}}

{{> footer}}
