{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}


<div class="container-fluid" style="background-image:{{{cloudinaryUrl caseStudy.image width=150 height=150 crop='scale' quality=100}}}">

	<div class="row">
	{{{caseStudy.name.html}}}
	{{{caseStudy.byline.html}}}

	</div>

	<div class="row">
	{{#each caseStudy.modalities}}
		{{> modality this}}
	{{/each}}
	</div>

	<div class="row">
	{{{caseStudy.phaseI.html}}}
	</div>

	<div class="row">
	{{{caseStudy.phaseII.html}}}
	</div>

	<div class="row">
	{{{caseStudy.funds.html}}}
	</div>

	<div class="row">
	{{{caseStudy.text.html}}}
	</div>

	<div class="row">
	{{{caseStudy.team.html}}}
	</div>

	<div class="row">
	{{#each caseStudy.logos}}
		{{> image this}}
	{{/each}}
	</div>

</div>