{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

{{> nav}}

<div class="container-fluid" style="background-image:{{{cloudinaryUrl backgroundImage width=150 height=150 crop='scale' quality=100}}}">

	<div class="row">
	{{title}}
	{{{byline}}}

	</div>

	<div class="row">
	{{#each caseStudy.modalities}}
		{{jsonPrint this}}
		{{> modality this}}

	{{/each}}
	</div>

	<div class="row">
	{{{phaseI}}}
	</div>

	<div class="row">
	{{{phaseII}}}
	</div>

	<div class="row">
	{{{funds}}}
	</div>

	<div class="row">
	{{{text}}}
	</div>

	<div class="row">
	{{{team}}}
	</div>

	<div class="row">
	{{#each logos}}
		{{> image this}}
	{{/each}}
	</div>

</div> <!-- .container-fluid -->

{{> footer}}
