{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">

	<div class="row">
		{{{game.name.html}}}

		{{> image game.logo}}

		{{> link game.purchaseLink}}

	</div>

	<div class="row">
	{{{game.text.html}}}
	</div>

	<div class="row">
	{{{game.howToPlay.html}}}
	</div>

	<div class="row">
	{{{game.text.html}}}
	</div>

	<div class="row">
	{{> image game.featOneImage}}
	{{{game.featOneTitle.html}}}
	{{{game.featOneDescription.html}}}
	</div>
	<div class="row">
	{{> image game.featTwoImage}}
	{{{game.featTwoTitle.html}}}
	{{{game.featTwoDescription.html}}}
	</div>
	<div class="row">
	{{> image game.featThreeImage}}
	{{{game.featThreeTitle.html}}}
	{{{game.featThreeDescription.html}}}
	</div>

</div> <!-- .container-fluid -->