{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

<article class="c-article t-neutral">

  {{> nav contrast="true"}}

  <div class="c-article__header c-article__header--bg-repeater">
    <h1 class="c-article__title">{{game.name}}</h1>
  </div>

  <div class="c-article__main">
    <div class="c-article__content">
        <p class="c-article__intro">{{{removePara game.text.html}}}</p>
        <p>{{game.upperDescription}}</p>
    </div>
    <div class="c-article__content c-article__content--medium">

			<div class="c-card-list c-card-list--overlapped">
				<div class="c-card-list__item">
					<div class="c-card c-card--full c-card--reverse">
					  {{!-- <div class="c-card__cover">
					    <img src="{{{cloudinaryUrl game.featOneImage.image crop=scale}}}" alt="Image">
					  
					  </div> --}}
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title u-text-delta">{{{removePara game.featOneTitle.html}}}</h2>
				        <div class="c-card__text">{{{removePara game.featOneDescription.html}}}</div>
					  	</div>
						</div>
		    	</div>
				</div>

				<div class="c-card-list__item">
					<div class="c-card c-card--full">
{{!-- 					  <div class="c-card__cover">
					    <img src="{{cloudinaryUrl game.featTwoImage.image crop=scale}}" alt="Image">
					  </div> --}}
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title u-text-delta">{{{removePara game.featTwoTitle.html}}}</h2>
				        <div class="c-card__text">{{{removePara game.featTwoDescription.html}}}</div>
					  	</div>
						</div>
		    	</div>
				</div>

				<div class="c-card-list__item">
					<div class="c-card c-card--full">
					  {{!-- <div class="c-card__cover">
					    <img src="{{{cloudinaryUrl game.featThreeImage.image crop=scale}}}" alt="Image">
					  </div> --}}
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title u-text-delta">{{{removePara game.featThreeTitle.html}}}</h2>
				        <div class="c-card__text">{{{removePara game.featThreeDescription.html}}}</div>
					  	</div>
						</div>
		    	</div>
				</div>

			</div>

		</div>
    <div class="c-article__content">
	    <img src="{{{cloudinaryUrl game.footerImage crop=scale width=600}}}" alt="Lower Image">
      <h2>How to play</h2>
			<p>{{{removePara game.howToPlay.html}}}</p>
    </div>
  </div>

</article>

{{> footer}}
