{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}

<div class="c-box c-box--green">

	{{> nav contrast="true"}}

	<div class="c-hero c-hero--contrast u-marg-top-huge">
		<div class="o-wrapper">
			<h1 class="c-hero__title u-text-mega">{{title}}</h1>
			<h2 class="u-text-serif u-text-uppercase u-text-epsilon">{{byline}}</h2>
			<p class="u-text-serif u-text-epsilon">by Eric Gordon</p>
			{{#each buttons}}
				<a href="#" class="c-btn c-btn--large c-btn--green u-marg-top-small u-marg-bottom u-marg-right-small u-marg-left-small">{{this}}</a>
			{{/each}}
		</div>
	</div>

	{{> footer}}

</div>

<div class="c-off-canvas js-off-canvas" aria-hidden="true">

	<button class="c-off-canvas__toggle js-off-canvas-toggle" data-expanded="Hide Window" data-collapsed="Table Of Contents">Table Of Contents</button>

	<div class="c-off-canvas__content">
		<h3 class="c-off-canvas__title">Accelerating Public Engagement</h3>
		{{#each guides}}
			{{#ifeq this.name 'Introduction'}}
			<h4 class="c-off-canvas__sub-title"><a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a></h4>
			{{/ifeq}}
		{{/each}}

		{{#each guides}}
			{{#ifeq this.name 'Executive Summary'}}
			<h4 class="c-off-canvas__sub-title"><a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a></h4>
			{{/ifeq}}
		{{/each}}

		{{#each calibratingGuides}}
				{{#ifeq this.isSection true}}
				<h4 class="c-off-canvas__sub-title"><a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a></h4>
				{{/ifeq}}
		{{/each}}
		{{#each calibratingGuides}}
				{{#ifeq this.isSection false}}
				<a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a>
				{{/ifeq}}
		{{/each}}

		{{#each chartingGuides}}
				{{#ifeq this.isSection true}}
				<h4 class="c-off-canvas__sub-title"><a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a></h4>
				{{/ifeq}}
		{{/each}}
		{{#each chartingGuides}}
				{{#ifeq this.isSection false}}
				<a class="c-off-canvas__link" href="/guides/{{this.guide_key}}">{{this.name}}</a>
				{{/ifeq}}
		{{/each}}
	</div>
</div>
