{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Guide Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row guide-top-nav">

	{{#each guides}}
		{{#ifeq this.name 'Introduction'}}
		<a href="/guides/{{this.guide_key}}"><bold>{{this.name}}</bold></a>
		{{/ifeq}}
	{{/each}}

	{{#each guides}}
		{{#ifeq this.name 'Executive Summary'}}
		<a href="/guides/{{this.guide_key}}"><bold>{{this.name}}</bold></a>
		{{/ifeq}}
	{{/each}}

	{{#each calibratingGuides}}
			{{#ifeq this.isSection true}}
			<a href="/guides/{{this.guide_key}}"><bold>{{this.name}}</bold></a>
			{{/ifeq}}
	{{/each}}
	{{#each calibratingGuides}}
			{{#ifeq this.isSection false}}
			<a href="/guides/{{this.guide_key}}">{{this.name}}</a>
			{{/ifeq}}
	{{/each}}

	{{#each chartingGuides}}
			{{#ifeq this.isSection true}}
			<a href="/guides/{{this.guide_key}}"><bold>{{this.name}}</bold></a>
			{{/ifeq}}
	{{/each}}
	{{#each chartingGuides}}
			{{#ifeq this.isSection false}}
			<a href="/guides/{{this.guide_key}}">{{this.name}}</a>
			{{/ifeq}}
	{{/each}}
		
	</div>


	<div class="row">

		<section id="section-intro">
			{{#each guides}}
				{{#ifeq this.section 'Intro'}}
					{{> guidePage this}}
				{{/ifeq}}
			{{/each}}
		</section>

		<section id="section-summary">
			{{#each guides}}
				{{#ifeq this.section 'Summary'}}
					{{> guidePage this}}
				{{/ifeq}}
			{{/each}}
		</section>

		<section id="section-calibrating">
			{{#each calibratingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}

			
		</section>

		<section id="section-charting">
			{{#each chartingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}
		</section>

		<section id="section-going">
			{{#each goingGuides}}
					{{!-- {{#ifeq this.isSection true}} --}}
						{{> guidePage this}}
					{{!-- {{/ifeq}} --}}
			{{/each}}
		</section>
		
	</div>

</div> <!-- .container-fluid -->