{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="container-fluid home">
	<div class="row">
		<h1>{{{index.header.html}}}</h1>
		{{{index.rationale.html}}}
	</div>

	<div class="row">
		<a href="/toolkit"><h2>The Toolkit</h2></a>
	{{{index.theToolkit.html}}}
	</div>
	<div class="row">
		<a href="/guide"><h2>The Guide</h2></a>
	{{{index.theGuide.html}}}
	</div>
	<div class="row">
		<a href="/case-studies"><h2>The Case Studies</h2></a>
	{{{index.theCaseStudies.html}}}
	</div>
	<div class="row">
		<a href="/game"><h2>The Game</h2></a>
	{{{index.theGame.html}}}
	</div>

</div> <!-- .container-fluid -->
