{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<article class="c-box c-article t-light-blue">

  {{> nav contrast="true"}}

  <div class="c-article__header c-article__header--bg-repeater">
    <h1 class="c-article__title">{{{header.html}}}</h1>
  </div>

  <div class="c-article__main u-marg-top-large u-marg-bottom">
    <div class="c-article__content c-article__content--medium">

			<div class="c-card-list c-card-list--overlapped">
				<div class="c-card-list__item">
					<div class="c-card c-card--full c-card--reverse">
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title">{{{builderTitle.html}}}</h2>
				        <div class="c-card__text">
                  <p>{{{builderText.html}}}</p>
                  <a class="c-btn c-btn--primary" href="/toolkit-builder">{{builderButton}}</a>
                </div>
					  	</div>
						</div>
		    	</div>
				</div>

				<div class="c-card-list__item">
					<div class="c-card c-card--full">
					  <div class="c-card__inner">
					    <div class="c-card__content">
				        <h2 class="c-card__title">{{{browseTitle.html}}}</h2>
				        <div class="c-card__text">
					        <p>{{{browseText.html}}}</p>
				          <a class="c-btn c-btn--primary" href="/toolkit-builder#step=grid">{{browseButton}}</a>
								</div>
					  	</div>
						</div>
		    	</div>
				</div>

      </div>

		</div>
  </div>

  {{> footer}}
</article>
