<div class="c-card js-tool-card {{#if mini}}c-card--mini{{else}}c-card--full{{/if}}">
  {{#if cover}}
    <div class="c-card__cover">
      <img src="{{ cover }}" alt="{{ title }}" class="c-card__cover__img">
    </div>
  {{/if}}
  <div class="c-card__inner">
    {{#if icon}}
      <div class="c-card__icon c-icon">
        <img src="{{ icon }}" alt="{{ title }}" class="c-icon__img">
      </div>
    {{/if}}
    <div class="c-card__content">
      {{#if mini }}
      {{else}}
        <p class="c-card__current-card js-breadcrumb"></p>
      {{/if}}
      {{#if title}}
        <p class="c-card__title">{{ title }}</p>
      {{/if}}
      {{#if text}}
        <div class="c-card__text">{{{ text }}}</div>
      {{/if}}
      {{#if helper}}
        <div class="c-card__helper">{{{ helper }}}</div>
      {{/if}}
    </div>
    <div class="c-card__actions">
      {{#if mini }}
        <button class="c-btn c-btn--primary js-tool-more">See More</button>
      {{else}}
        {{#if yesno}}
          <button class="c-btn c-btn--secondary js-tool-no">No</button>
          <button class="c-btn c-btn--primary js-tool-yes">Yes</button>
        {{else}}
          <button class="c-btn c-btn--primary js-tool-next">Next</button>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>