<footer class="c-footer">
	<div class="o-wrapper">
		{{#if footer.images}}
		<ul class="o-list-inline">
			{{#each footer.images}}
			<li>
				{{#if this.link}}<a class="c-footer__link" href="{{URL}}" alt="{{name}}">{{/if}}<img class="c-footer__logo" src="{{{cloudinaryUrl this.image width=150 height=150 crop='scale' quality=100}}}" alt="{{this.name}}">{{#if this.link}}</a>{{/if}}
			</li>
			{{/each}}
		</ul>
		{{/if}}
		{{#if footer.links}}
		<ul class="o-list-inline">
			{{#each footer.links}}
			<li><a href="{{this.URL}}">{{this.name}}</a></li>
			{{/each}}
		</ul>
		{{/if}}
		<div class="c-footer__text">
			{{{footer.description.html}}}
		</div>
	</div>
</footer>