<div class="guide-page-wrapper col-sm-12 col-lg-12 col-md-12 {{#if this.isSection}}guide-section{{/if}}" id="guide-{{this.guide_key}}">


	<div class="">
		<h1>{{this.header}}</h1>
		<h3>{{{this.blurb.html}}}</h3>

	</div>

	<div class="">
	{{{this.text.html}}}
	</div>

	<div class="next-guide-page">
		{{!-- <a href="/guide/{{this.section}}/{{this.guide_key}}">Next</a> --}}
	</div>

</div>
