<div class="guide-page-wrapper col-sm-12 col-lg-12 col-md-12" id="guide-section-{{this.section}}-{{this.@index}}">

	<div class="">
		<h1>{{this.header}}</h1>
		<h3>{{{this.blurb.html}}}</h3>

	</div>

	<div class="">
	{{{this.text.html}}}
	</div>

	<div class="next-guide-page">
		<a href="/guide/{{this.section}}/{{this.@index}}">Next</a>
	</div>

</div>