<header class="c-top-nav {{#if contrast}}c-top-nav--contrast{{/if}}">
  <div class="c-top-nav__wrapper o-wrapper">

    <a class="c-top-nav__branding" href="/">
    {{#ifeq section 'index'}}
      <img src="{{{cloudinaryUrl mainNav.logo.image width=auto height=90 crop='scale' quality=100}}}">
    {{else}}
      <img src="{{{cloudinaryUrl mainNav.logoAlt.image width=auto height=90 crop='scale' quality=100}}}">
    {{/ifeq}}
    </a>
    <button class="c-top-nav__toggle js-top-nav-toggle c-btn c-btn--ghost" aria-expanded="false">Menu</button>
    <nav class="c-top-nav__menu js-top-nav-menu" aria-hidden="true">
      <ul class="c-top-nav__list">
      {{#each mainNav.links}}
          <li class="c-top-nav__item"><a class="c-top-nav__link" href="{{URL}}">{{name}}</a></li>
      {{/each}}
      </ul>
    </nav>
  </div>
</header>
